<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的问答</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/chat.css') }}">
</head>
<body>
<div class="chatContainer">
    <div class="chatBox" ref="chatBox">
        <div class="chatBox-head">
            <div class="chatBox-head-one">
                我的问答
                <div class="chat-close" style="margin: 10px 10px 0 0;font-size: 14px">关闭</div>
            </div>
            <div class="chatBox-head-two">
                <!-- <div class="chat-return">返回</div>-->
                <div class="chat-people">
                    <div class="ChatInfoHead">
                        <img src="{{ url_for('static',filename='img/xiaoming.jpg') }}" alt="头像">

                    </div>
                    <div class="ChatInfoName">小明
                    </div>
                </div>
                <div style="text-align: center;">
                    <marquee scrollAmount=3 height=100 width=230 align="auto" onmouseover=stop() onmouseout=start()>
                        <div style="margin-top: 17px"><span style="color: white; font-size: small; ">“Hello，我是小明，我可以回答您所提问的问题哦”</span>
                        </div>
                    </marquee>
                </div>
                <!--  <div id="container">
                      <div id="content" ><font size="2">热烈欢迎领导莅临指导 ！</font></div>
                  </div>-->
                <!--  <div class="chat-close">关闭</div>-->
            </div>
        </div>
        <div class="chatBox-info">
            <div class="chatBox-kuang" ref="chatBoxkuang">
                <div class="chatBox-content">
                    <div class="chatBox-content-demo" id="chatBox-content-demo">

                        <div class="clearfloat">
                            <div class="author-name">
                                <small class="chat-date">2018-05-02 18:53:50</small>
                            </div>
                            <div class="left">
                                <div class="chat-avatars"><img src="{{ url_for('static',filename='img/xiaoming.jpg') }}"
                                                               alt="头像">
                                </div>
                                <div class="chat-message">
                                    给你看张图
                                </div>
                            </div>
                        </div>
                        <div class="clearfloat">
                            <div class="author-name">
                                <small class="chat-date">2018-05-02 18:53:50</small>
                            </div>
                            <div class="left">
                                <div class="chat-avatars"><img src="{{ url_for('static',filename='img/xiaoming.jpg') }}"
                                                               alt="头像"></div>
                                <div class="chat-message">
                                    <img src="{{ url_for('static',filename='img/1.png') }}" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="clearfloat">
                            <div class="author-name">
                                <small class="chat-date">2018-05-02 18:53:50</small>
                            </div>
                            <div class="right">
                                <div class="chat-message">嗯，适合做壁纸</div>
                                <div class="chat-avatars"><img src="{{ url_for('static',filename='img/icon01.png') }}"
                                                               alt="头像"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="chatBox-send">
                    <div class="div-textarea" contenteditable="true"></div>
                    <div>
                        <button id="chat-fasong" class="btn-default-styles" style="width: 80px"><i
                                class="iconfont icon-fasong">发送</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>

<script>
    screenFuc();
    function screenFuc() {
        var topHeight = $(".chatBox-head").innerHeight();//聊天头部高度
        //屏幕小于768px时候,布局change
        var winWidth = $(window).innerWidth();
        if (winWidth <= 768) {
            var totalHeight = $(window).height(); //页面整体高度
            $(".chatBox-info").css("height", totalHeight - topHeight);
            var infoHeight = $(".chatBox-info").innerHeight();//聊天头部以下高度
            //中间内容高度
            $(".chatBox-content").css("height", infoHeight - 46);
            $(".chatBox-content-demo").css("height", infoHeight - 46);

            $(".chatBox-list").css("height", totalHeight - topHeight);
            $(".chatBox-kuang").css("height", totalHeight - topHeight);
            $(".div-textarea").css("width", winWidth - 106);
        } else {
            $(".chatBox-info").css("height", 495);
            $(".chatBox-content").css("height", 448);
            $(".chatBox-content-demo").css("height", 448);
            $(".chatBox-list").css("height", 495);
            $(".chatBox-kuang").css("height", 495);
            $(".div-textarea").css("width", 260);
        }
    }
    (window.onresize = function () {
        screenFuc();
    })();
    //未读信息数量为空时
    var totalNum = $(".chat-message-num").html();
    if (totalNum == "") {
        $(".chat-message-num").css("padding", 0);
    }
    $(".message-num").each(function () {
        var wdNum = $(this).html();
        if (wdNum == "") {
            $(this).css("padding", 0);
        }
    });

    function asd() {
        $(".chatBox-head-one").toggle();
        $(".chatBox-head-two").toggle();
        $(".chatBox-list").fadeToggle();
        $(".chatBox-kuang").fadeToggle();
        //聊天框默认最底部
        $(document).ready(function () {
            $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
        });
    }
    asd();

    //  发送信息
    $("#chat-fasong").click(function () {
        var textContent = $(".div-textarea").html().replace(/[\n\r]/g, '<br>');
        var currentdate_1 = ""

        function getNowFormatDate() {
            var date = new Date();
            var seperator1 = "-";
            var seperator2 = ":";
            var month = date.getMonth() + 1;
            var strDate = date.getDate();
            if (month >= 1 && month <= 9) {
                month = "0" + month;
            }
            if (strDate >= 0 && strDate <= 9) {
                strDate = "0" + strDate;
            }
            var minutes = date.getMinutes();
            if (minutes >= 0 && minutes <= 9) {
                minutes = "0" + minutes;
            }
            var seconds = date.getSeconds();
            if (seconds >= 0 && seconds <= 9) {
                seconds = "0" + seconds;
            }
            var milliseconds = date.getMilliseconds();
            var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
                + " " + date.getHours() + seperator2 + minutes
                + seperator2 + seconds + seperator2 + milliseconds;
            currentdate_1 = currentdate;
        }

        getNowFormatDate();
        if (textContent != "") {
            $(".chatBox-content-demo").append("<div class=\"clearfloat\">" +
                "<div class=\"author-name\"><small class=\"chat-date\">" + currentdate_1 + "</small> </div> " +
                "<div class=\"right\"> <div class=\"chat-message\"> " + textContent + " </div> " +
                "<div class=\"chat-avatars\"><img src=\"{{ url_for('static',filename='img/icon01.png') }}\" alt=\"头像\" /></div> </div> </div>");
            //发送后清空输入框
            $(".div-textarea").html("");
            //聊天框默认最底部
            $(document).ready(function () {
                $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
            });

{#            向后端发送问题，并获取返回问题的答案#}
            var question = textContent
            var solution=[]
            $.ajax({
                type: 'POST',
                url: '/',
                data: JSON.stringify(question),
                contentType: 'application/json; charset=UTF-8',
                dataType: 'json',
                async: false,
                success: function (data) {
                    solution=JSON.stringify(data['answer'])
                },
                error: function (error) {
                    console.log(error)
                }
            });


            setTimeout(function () {
                var con = "<div class=\"clearfloat\">" +
                    "<div class=\"author-name\"><small class=\"chat-date\">" + currentdate_1 + "</small> </div> " +
                    "<div class=\"left\">" +
                    "<div class=\"chat-avatars\"><img src=\"{{ url_for('static',filename='img/xiaoming.jpg') }}\" alt=\"头像\" /></div>" +
                    "<div class=\"chat-message\">" + solution + "</div></div> </div>"
                $("#chatBox-content-demo").append(con); //把内容入到这个div中即完成
                $(document).ready(function () {
                    $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
                });
            }, 1000);

        }
    });
</script>
</body>
</html>

